/* ========================================================= COMMON STYLES ========================================================= */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  background-color: #f5f5f5;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

nav,
footer,
header,
section {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1020px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  display: block;
}

.logo__img {
  display: block;
  max-width: 100%;
}

.btn {
  position: relative;
  display: block;
  border: none;
  padding: 9px 50px 9px 40px;
  background-color: rgb(196, 11, 11);
  background: linear-gradient(
    114deg,
    rgba(196, 11, 11, 1) 80%,
    rgba(227, 11, 11, 1) 80%,
    rgba(196, 11, 11, 1) 80%,
    rgba(227, 11, 11, 1) 80%
  );

  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s ease-in;
}

.btn:hover {
  background-color: rgb(227, 11, 11);
  background: linear-gradient(
    114deg,
    rgba(227, 11, 11) 80%,
    rgba(196, 11, 11) 80%,
    rgba(227, 11, 11) 80%,
    rgba(196, 11, 11) 80%
  );
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  background-image: url(../img/icons/arrow_forward.svg);
  background-repeat: no-repeat;
  background-size: contain;
  right: 11px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.title {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4b4b4b;
  padding-left: 32px;
  margin-bottom: 33px;
}

.title::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.desc {
  max-width: 583px;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133c;
  margin-bottom: 36px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  margin-bottom: 54px;
}

.second-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #02133c;
  margin-bottom: 20px;
}

.toggle-menu {
  display: none;
  width: 30px;
  height: 21px;
  position: absolute;
  border: none;
  background-color: transparent;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  top: 35px;
  right: 10px;
}

.toggle-menu:before,
.toggle-menu:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.2s ease;
}

/* ========================================================= HEADER STYLES ========================================================= */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding-top: 26px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__item + .info__item {
  margin-left: 30px;
}

.info__text {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #ffffff;
  padding-left: 37px;
}

.info__text::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/time.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
}

.info--phone::before {
  background-image: url(../img/icons/phone.svg);
}

.header-top__btn {
  margin-left: 32px;
}

.header-bottom {
  display: flex;
  background-color: #fff;
  padding: 18px 44px 18px 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
}

.header-bottom__menu {
  display: flex;
}

.header-bottom__list:not(:last-child) {
  margin-right: 37px;
}

.header-bottom__list:first-child,
.header-bottom__list:nth-child(5) {
  position: relative;
  padding-right: 16px;
}

.header-bottom__list:first-child::before,
.header-bottom__list:nth-child(5)::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 5px;
  background-image: url(../img/icons/more.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 0.2s ease-in;
}

.header-bottom__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #02133c;
  transition: 0.2s ease-in;
}

.header-bottom__link:hover {
  color: #c40b0b;
}

.dropdown-menu {
  position: absolute;
  left: -9999px;
  opacity: 0;
  background-color: #fff;
  width: 100px;
  padding: 15px;
  transition: opacity 0.3s ease-out;
}

.header-bottom__list:hover .dropdown-menu {
  opacity: 1;
  left: 0;
}

.header-bottom__list:hover::before {
  transform: rotate(180deg);
}

.header-bottom__field {
  display: flex;
  justify-content: space-between;
}

.search-icon {
  display: block;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  width: 17.5px;
  height: 17.5px;
  border: none;
}

.header-bottom__search {
  margin-right: 25px;
}

.header-bottom__cart {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
}

.header-bottom__cart::before {
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 4px;

  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  color: #fff;
  width: 16px;
  height: 16px;
  background-color: #c40b0b;
  border-radius: 100%;
  right: -5px;
  top: -8px;
}

/* ========================================================= SECTION PROMO ========================================================= */

.promo {
  background-image: url(../img/bg/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 280px 0 312px 0;
}

.promo__title {
  max-width: 583px;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 48px;
}

/* ========================================================= SECTION WHOWEARE ======================================================= */

.whoweare {
  position: relative;
  left: 0;
  right: 0;
  top: 75%;
  margin: auto;
  margin-top: -80px;
  max-width: 1000px;
  max-height: 700px;
  padding: 100px 87px;
  background-color: #fff;
}

.whoweare::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/bg-gears.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 642px;
  height: 450px;
  right: 0;
  top: 0;
  opacity: 0.5;
}

.whoweare__img {
  display: block;
  max-width: 100%;
}

/* ========================================================= SECTION PROMISE ======================================================== */

.promise {
  padding-top: 230px;
}

.promise-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 68px;
}

.promise-box__item {
  position: relative;
  margin-right: 15px;
  padding-left: 85px;
}

.promise-box__item:last-child {
  margin-right: 0;
}

.promise-box__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 63px;
  height: 63px;
  background-image: url(../img/icons/quality.svg);
  left: 0;
  top: 0;
}

.item--serivices::before {
  background-image: url(../img/icons/car-services.svg);
}

.item--team::before {
  background-image: url(../img/icons/car-team.svg);
}

.promise__text {
  max-width: 235px;
  margin-bottom: 0;
}

.promise-video {
  position: relative;
  margin-top: 120px;
  width: 100%;
  min-height: 500px;
}

.promise-video::before,
.promise-video::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.promise-video::after {
  background-image: url(../img/bg/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.promise-video__container {
  position: relative;
}

.promise-video-wrap {
  position: absolute;
  max-width: 410px;
  right: 10px;
  top: 110px;
  z-index: 3;
}

.promise-video__title {
  max-width: 411px;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.play-icon {
  font-size: 0;
  display: block;
  background-image: url(../img/icons/play.svg);
  width: 140px;
  height: 140px;
  opacity: 1;
  transition: 0.3s ease-in;
}

.play-icon:hover {
  opacity: 0.7;
}

.promise__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.95);
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in;
  z-index: 99;
}

.promise__modal:target {
  opacity: 1;
  visibility: visible;
}

.promise__modal:target .modal__frame {
  transform: translate(0px, 0%);
}

.modal__frame {
  border: 10px solid rgba(17, 17, 17, 0.4);
  width: 800px;
  height: 600px;
  transform: translate(0px, -100%);
  transition: 0.4s ease-in;
}

.close {
  position: absolute;
  font-size: 80px;
  color: #fff;
  right: 0;
  top: 0;
  left: 50px;
  transition: 0.2s ease-in;
  z-index: 1;
}

.close:hover {
  color: #c40b0b;
}

/* ========================================================= SECTION SERVICES ======================================================= */

.section-services {
  position: relative;
  padding: 110px 0 122px 0;
  z-index: 1;
}

.section-services::before,
.section-services::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/bg-gears-services.png);
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  z-index: -1;
}

.section-services::after {
  background-image: url(../img/bg/bg-gears-services.png);
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.section-services__desc {
  margin-bottom: 78px;
}

.grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 66px;
}

.grid__item {
  padding: 50px 44px;
  background-color: #fff;
  text-align: center;
  transition: 0.2s ease-in;
}

.grid__item:hover {
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
}

.grid__icon {
  margin-bottom: 33px;
}

.grid__text {
  margin-bottom: 0;
}

.section-services__btn {
  margin: 0 auto;
  padding: 12px 50px 12px 20px;
  background: linear-gradient(
    114deg,
    rgba(196, 11, 11, 1) 73%,
    rgba(227, 11, 11, 1) 70%,
    rgba(196, 11, 11, 1) 70%,
    rgba(227, 11, 11, 1) 70%
  );
}

.section-services__btn:hover {
  background: linear-gradient(
    114deg,
    rgba(227, 11, 11) 73%,
    rgba(196, 11, 11) 70%,
    rgba(227, 11, 11) 70%,
    rgba(196, 11, 11) 70%
  );
}

/* ========================================================= SECTION FORM =========================================================== */

.form {
  position: relative;
  padding: 130px 0 210px 0;
  background-color: #02133c;
  z-index: 1;
}

.form::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/bg-gears-services.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
  width: 642px;
  height: 450px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.form:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/bg-gears.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 642px;
  height: 450px;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}

.form-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  max-width: 585px;
  padding: 76px 46px;
  background-color: #fff;
}

.form__desc {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.input-wrap {
  width: 50%;
  padding: 11px;
}

.input {
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #959595;
  background-color: #f5f5f5;
  border: none;
}

.textarea-wrap {
  width: 100%;
  height: 180px;
  padding: 11px;
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 17px 40px 17px 23px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #959595;
  background-color: #f5f5f5;
  border: none;
  resize: none;
}

.form__btn {
  margin-top: 30px;
  margin-left: auto;
  padding: 12px 50px 12px 20px;
}

.form-count {
  max-width: 324px;
  padding-left: 15px;
  color: #fff;
  font-weight: 900;
  text-align: center;
}

.form-count__title {
  font-size: 30px;
  line-height: 36px;
}

.number-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.thousand {
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  color: #c40b0b;
}

.number {
  font-weight: 900;
  font-size: 96px;
  line-height: 56px;
  text-align: center;
  color: #c40b0b;
}

.form-count__text {
  font-size: 19px;
  line-height: 26px;
}

/* ========================================================= SECTION GALLERY ========================================================= */

.gallery {
  position: relative;
  left: 0;
  right: 0;
  top: 75%;
  margin: auto;
  margin-top: -80px;
  max-width: 1000px;
  max-height: 700px;
  padding: 100px 87px;
  margin-bottom: 120px;
  background-color: #fff;
  z-index: 1;
}

.gallery::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/bg-gears-services.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
  width: 642px;
  height: 450px;
  left: -200px;
  bottom: -200px;
  z-index: -1;
}

.gallery-img-wrap {
  position: relative;
  width: 856px;
  height: 480px;
  overflow: hidden;
  z-index: 1;
}

.live {
  position: relative;
}

.live::before {
  content: "live";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 42px;
  top: 33px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  width: 50px;
  height: 30px;
  color: #fff;
  background-color: #21c613;
}

.gallery__img {
  display: none;
}

.gallery__img--active {
  display: block;
  max-width: 100%;
}

.tabs-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.tabs-list__item {
  width: 100%;
}

.tabs-list__link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #02133c;
  transition: 0.2s ease-in;
  text-align: center;

  padding-bottom: 18px;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: -1px;
  transition: 0.2s ease-in;
}

.tabs-list__link:hover {
  font-weight: 500;
  color: #c40b0b;
  border-bottom: 4px solid #c40b0b;
  margin-bottom: -4px;
}

.tabs-link--active {
  font-weight: 500;
  color: #c40b0b;
  border-bottom: 4px solid #c40b0b;
  margin-bottom: -4px;
}

.stream {
  position: relative;
}

.stream::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #21c613;
  right: 25px;
  top: 0;
}

/* ========================================================= SECTION CUSTOMERS ======================================================= */

.customers {
  padding-top: 110px;
  padding-bottom: 210px;
}

.customers-box {
  display: flex;
  justify-content: space-between;
}

.customers-box__item {
  flex-basis: 32.4%;
}

.customers-card {
  flex-basis: 32.4%;
  background-color: #fff;
  padding: 40px;
}

.customers-card__text {
  margin-bottom: 30px;
}

.customers-card__title {
  margin-bottom: 0;
}

.card-avatar {
  display: flex;
  align-items: center;
}

.card-avatar__wrap {
  background-image: url(../img/avatar-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 17px;
}

.man-avatar {
  background-image: url(../img/avatar-1.jpg);
  background-position: center center;
}

.man-avatar::before {
  background-image: url(../img/avatar-1.jpg);
  background-position: center;
}

/* ========================================================= SECTION IMPACT ========================================================== */
.impact {
  position: relative;
  padding-top: 110px;
  background-color: #02133c;
  z-index: 1;
}

.impact::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/impact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  top: 0;
  left: 0;
}

.impact-top {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.impact__title {
  color: #ffff;
}

.impact__desc {
  color: #fff;
  max-width: 411px;
  margin-bottom: 80px;
}

.impact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 135px;
}

.impact-box__item {
  flex-basis: 23%;
  position: relative;
  padding-left: 82px;
}

.impact-box__item::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 76px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.item-oil::before {
  background-image: url(../img/icons/car_oil.svg);
}

.item-transmisson::before {
  background-image: url(../img/icons/car_transmission.svg);
}

.item-aligments::before {
  background-image: url(../img/icons/car_alignment.svg);
}

.item-engines::before {
  background-image: url(../img/icons/car_engine.svg);
}

.impact-box__number {
  display: inline-block;
  font-size: 36px;
  line-height: 42px;
}

.impact-box__thousand {
  display: inline;
  font-size: 36px;
}

.impact-box__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #f5f5f5;
}

.impact-img-wrap {
  position: absolute;
  width: 498px;
  height: 315px;
  right: 0;
  top: -198px;
  z-index: -1;
}

.impact__img {
  display: block;
  max-width: 100%;
}

.impact-cta {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 46px 76px 48px 70px;
  left: 0;
  bottom: -77px;
}

.impact-cta__desc {
  margin-bottom: 0;
  max-width: 562px;
  font-size: 24px;
  line-height: 30px;
}

.impact-cta__btn {
  padding: 14px 50px 14px 20px;
}

/* ========================================================= FOOTER STYLES =========================================================== */

.footer__container {
  padding-top: 160px;
  padding-bottom: 100px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-box__item {
  flex: 0 0 24%;
}

.footer-box__logo {
  margin-bottom: 23px;
}

.footer-logo__img {
  display: block;
  max-width: 100%;
}

.footer-box__desc {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  margin-bottom: 33px;
}

.footer-box__social {
  display: flex;
}

.footer-social__link {
  display: block;
  margin-right: 25px;
  transition: 0.2s ease-in;
}

.footer-social__link:last-child {
  margin-right: 0;
}

.footer-social__link:hover {
  opacity: 0.8;
}

.footer-box__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  margin-bottom: 28px;
}

.footer-list-wrap {
  display: flex;
}

.footer-box__menu {
  flex: 0 0 50%;
}

.footer-box__menu:not(:last-child) {
  margin-right: 37px;
}

.footer-box__list:not(:last-child) {
  margin-bottom: 12px;
}

.footer-box__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  transition: 0.2s ease-in;
}

.footer-box__link:hover {
  color: #c40b0b;
}

.footer-box__info {
  font-style: normal;
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  margin-bottom: 16px;
  padding-left: 34px;
}

.footer-box__info::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.place-icon::before {
  background-image: url(../img/icons/place.svg);
  background-repeat: no-repeat;
}

.phone-icon::before {
  background-image: url(../img/icons/phone.svg);
  background-repeat: no-repeat;
}
.email-icon::before {
  background-image: url(../img/icons/email.svg);
  background-repeat: no-repeat;
}

.time-icon::before {
  background-image: url(../img/icons/timer.svg);
  background-repeat: no-repeat;
}

.footer-box__info:last-child {
  margin-bottom: 0;
}

.footer-bottom {
  padding: 20px 0;
  background-color: #02133c;
}

.footer-bottom__container {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-bottom__text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15px;
  color: #959595;
}

/* RESPONSIVE */

@media (max-width: 991px) {
  .container {
    max-width: 970px;
  }
  /* ====================== header  ======================*/
  .toggle-menu {
    display: block;
    position: fixed;
    z-index: 2222222;
  }

  .toggle-menu-open {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  .toggle-menu-open:before {
    transform: rotate(-45deg);
    background-color: #fff;
  }

  .toggle-menu-open:after {
    transform: rotate(45deg);
    background-color: #fff;
  }

  .header-bottom {
    display: none;
  }

  .info__item {
    display: none;
  }

  .header-top__btn {
    display: none;
  }

  .header__menu-open {
    position: fixed;
    z-index: 2222;
    height: 50%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 40px 0px 10px 0;
    background-color: rgb(2, 19, 60, 0.9);
  }

  .header__menu-open .header-top {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
  }

  .header__menu-open .header-top__logo {
    display: none;
  }

  .header__menu-open .header-top__info {
    flex-basis: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .header__menu-open .info__item {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  .header__menu-open .header-top__btn {
    display: block;
    margin-left: 0;
    margin-right: 15px;
  }

  .header__menu-open .header-bottom {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 10px 0;
    margin-top: 0;
  }

  .header__menu-open .header-bottom .header-bottom__menu {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .header__menu-open .header-bottom__list {
    padding: 10px;
    margin: 0;
  }

  .header__menu-open .header-bottom__link {
    color: #fff;
    font-size: 14px;
  }

  .header-bottom__list:hover .dropdown-menu {
    opacity: 1;
    left: 0;
    background-color: rgb(2, 19, 60);
    border: 1px solid #fff;
  }

  .header__menu-open .header-bottom__field {
    background-color: #fff;
    width: 100%;
    padding: 20px;
  }

  .header__menu-open .header-bottom__cart {
    padding-left: 15px;
    border-left: 1px solid #dadada;
  }

  /* ====================== promo  ======================*/

  .promo {
    padding: 170px 0 210px 0;
    background-position-x: 80%;
  }

  .promo__title {
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 40px;
  }

  /* ====================== promise  ======================*/
  .promise {
    padding-top: 150px;
  }

  .promise-box {
    display: flex;
    align-items: center;
    margin-top: 68px;
    flex-wrap: wrap;
  }

  .promise-box__item {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .promise__text {
    max-width: 100%;
  }

  .modal__frame {
    width: 700px;
    height: 450px;
  }

  /* ====================== services  ======================*/

  .section-services {
    padding: 100px 0 110px 0;
  }

  .grid-wrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
  }

  /* ====================== form  ======================*/
  .form {
    padding: 120px 0 200px 0;
  }

  .form::before {
    max-width: 100%;
  }

  .form-wrap {
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-field {
    margin-bottom: 20px;
  }

  .form__btn {
    width: 100%;
  }

  /* ====================== gallery  ======================*/

  .gallery {
    padding: 100px 10px;
    margin-bottom: 110px;
  }

  .gallery::before {
    max-width: 100%;
  }

  .tabs-list {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .tabs-list__item {
    width: 45%;
    margin-bottom: 30px;
    padding: 4px;
  }

  .gallery-img-wrap {
    max-width: 100%;
    margin: 0 auto;
    height: 400px;
  }

  .gallery__img {
    object-fit: cover;
    height: 400px;
  }

  .gallery__img--active {
    width: 100%;
  }

  /* ====================== customers ======================*/
  .customers {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .customers-box {
    flex-wrap: wrap;
  }

  .customers-box__item {
    flex: 0 0 100%;
  }

  .customers-card {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  /* ====================== impact ======================*/

  .impact {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .impact-top {
    flex-direction: column;
  }

  .impact-img-wrap {
    position: static;
    width: 100%;
    height: 315px;
    margin: 0 auto;
    right: 0;
    top: 0;
    margin-bottom: 50px;
  }

  .impact__img {
    height: 315px;
    width: 100%;
    object-fit: cover;
  }

  .impact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 130px;
  }

  .impact-box__item {
    flex-basis: 50%;
    position: relative;
    padding: 20px 20px 20px 82px;
  }

  .impact-cta {
    flex-wrap: wrap;
    bottom: 0;
    padding: 40px 10px;
  }

  .impact-cta__desc {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
  }

  .impact-cta__btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 750px;
  }

  .desc {
    font-size: 32px;
    line-height: 42px;
    color: #02133c;
    margin-bottom: 30px;
  }

  /* ====================== header  ======================*/

  .header__menu-open .header-top__info {
    justify-content: center;
  }

  .header__menu-open .header-top__btn {
    margin-left: 0;
    margin-right: 0;
  }

  .header__menu-open .info__item {
    margin-left: 0;
  }

  .header__menu-open .info__text {
    font-size: 10px;
    padding-left: 0;
  }

  .info__text::before {
    display: none;
  }

  /* ====================== whoweare  ======================*/

  .whoweare {
    padding: 100px 10px;
    max-height: 600px;
  }

  .whoweare__text {
    font-size: 14px;
    margin-bottom: 40px;
  }

  /* ====================== promise  ======================*/
  .promise {
    padding-top: 180px;
  }

  .modal__frame {
    width: 420px;
    height: 320px;
  }

  .close {
    font-size: 60px;
    left: 20px;
  }

  .promise-video {
    margin-top: 100px;
    min-height: 450px;
  }

  .promise-video::after {
    background-position-x: 30%;
  }

  .promise-video__title {
    font-size: 32px;
  }

  .play-icon {
    background-size: cover;
    width: 100px;
    height: 100px;
  }

  /* ====================== services  ======================*/

  .section-services {
    padding: 90px 0 100px 0;
  }

  .grid-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
  }

  /* ====================== form  ======================*/

  .form {
    padding: 110px 0 170px 0;
  }

  .form-field {
    max-width: 100%;
    padding: 60px 30px;
  }

  .input-wrap {
    width: 100%;
  }

  .number__real,
  .thousand {
    font-size: 76px;
  }

  /* ====================== gallery  ======================*/

  .gallery {
    padding: 100px 10px;
    margin-bottom: 110px;
  }

  .tabs-list {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .tabs-list__item {
    width: 45%;
    margin-bottom: 30px;
  }

  .gallery-img-wrap {
    height: 350px;
  }

  .gallery__img {
    height: 350px;
  }

  .stream::before {
    right: 0;
  }

  /* ====================== customers ======================*/

  .customers {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .customers-card__text {
    font-size: 14px;
  }

  /* ====================== impact ======================*/

  .impact {
    padding-top: 90px;
    padding-bottom: 30px;
  }

  .impact-img-wrap {
    width: 100%;
    height: 300px;
  }

  .impact__img {
    height: 300px;
  }

  .impact-box {
    margin-bottom: 100px;
  }

  .impact-box__item {
    padding: 20px 10px 20px 82px;
  }

  .impact-box__number {
    font-size: 32px;
    line-height: 36px;
  }

  .impact-box__thousand {
    font-size: 32px;
    line-height: 36px;
  }

  .impact-cta {
    padding: 30px 10px;
  }

  .impact-cta__btn {
    width: 60%;
    margin-top: 20px;
  }

  .impact__desc {
    color: #fff;
  }

  .impact-cta__desc {
    margin-bottom: 0;
    font-size: 24px;
  }

  /* ====================== footer ======================*/

  .footer__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer-box {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .footer-box__item {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }

  .footer-box__item:nth-child(2) {
    order: 1;
  }

  .footer-box__item:first-child {
    margin-bottom: 0;
  }

  .footer-box__menu {
    flex: 0 0 48%;
  }

  .footer-list-wrap {
    justify-content: space-between;
  }

  .footer-box__menu:not(:last-child) {
    margin-right: 0;
  }

  .footer-bottom__container {
    flex-wrap: wrap;
  }

  .footer-bottom__text {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

  .footer-bottom__text:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 479px) {
  .container {
    max-width: none;
  }

  .desc {
    font-size: 28px;
  }

  /* ====================== promo  ======================*/

  .promo {
    padding: 150px 0 180px 0;
    background-position-x: 80%;
  }

  .promo__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  /* ====================== whoweare  ======================*/

  .whoweare {
    padding: 80px 10px;
    max-height: 550px;
  }

  .whoweare__text {
    margin-bottom: 30px;
  }

  /* ====================== promise  ======================*/

  .promise {
    padding-top: 150px;
  }

  .modal__frame {
    width: 300px;
    height: 300px;
  }

  .close {
    font-size: 50px;
  }

  .promise-video {
    margin-top: 80px;
    min-height: 400px;
  }

  .promise-video__title {
    font-size: 28px;
  }

  .play-icon {
    width: 80px;
    height: 80px;
  }

  .promise-video-wrap {
    left: 10px;
  }

  /* ====================== services  ======================*/

  .section-services {
    padding: 80px 0 90px 0;
  }

  /* ====================== form  ======================*/

  .form {
    padding: 90px 0 150px 0;
  }

  .form-field {
    padding: 50px 20px;
  }

  .number__real,
  .thousand {
    font-size: 66px;
  }

  /* ====================== gallery  ======================*/

  .gallery {
    padding: 80px 10px;
  }

  .tabs-list__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery-img-wrap {
    height: 300px;
  }

  .gallery__img {
    height: 300px;
  }

  /* ====================== impact ======================*/

  .impact {
    padding-top: 80px;
  }

  .impact-img-wrap {
    height: 250px;
  }

  .impact__img {
    height: 250px;
  }

  .impact-box {
    margin-bottom: 80px;
  }

  .impact-box__item {
    flex-basis: 100%;
  }

  .impact-box__number {
    font-size: 30px;
  }

  .impact-box__thousand {
    font-size: 30px;
  }

  .impact-cta__btn {
    width: 100%;
    margin-top: 20px;
  }

  .impact__desc {
    color: #fff;
  }

  .impact-cta__desc {
    margin-bottom: 0;
    font-size: 24px;
  }

  /* ====================== footer ======================*/

  .footer__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
