/* ========================================================= COMMON STYLES ========================================================= */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: rgb(128, 105, 77);
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

nav,
footer,
header,
section {
  display: block;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.container {
  max-width: 1020px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

.logo {
  display: block;
}

.logo__img {
  display: block;
  max-width: 100%;
}

.btn {
  position: relative;
  display: block;
  border: none;
  padding: 9px 50px 9px 40px;
  background-color: #c40b0b;

  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #fff;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  background-image: url(../img/icons/arrow_forward.svg);
  background-repeat: no-repeat;
  right: 11px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* ========================================================= HEADER STYLES ========================================================= */

.header {
  padding-top: 26px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__item + .info__item {
  margin-left: 30px;
}

.info__text {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #ffffff;
  padding-left: 37px;
}

.info__text::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/time.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
}

.info--phone::before {
  background-image: url(../img/icons/phone.svg);
}

.header-top__btn {
  margin-left: 32px;
}

/* ========================================================= SECTION PROMO ========================================================= */

/* ========================================================= SECTION WHOWEARE ======================================================= */

/* ========================================================= SECTION PROMISE ======================================================== */

/* ========================================================= SECTION SERVICES ======================================================= */

/* ========================================================= SECTION FORM =========================================================== */

/* ========================================================= SECTION GALLERY ========================================================= */

/* ========================================================= SECTION CUSTOMERS ======================================================= */

/* ========================================================= SECTION IMPACT ========================================================== */

/* ========================================================= FOOTER STYLES =========================================================== */
