/* ========================================================= COMMON STYLES ========================================================= */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  background-color: #f5f5f5;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

nav,
footer,
header,
section {
  display: block;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.container {
  max-width: 1020px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

.logo {
  display: block;
}

.logo__img {
  display: block;
  max-width: 100%;
}

.btn {
  position: relative;
  display: block;
  border: none;
  padding: 9px 50px 9px 40px;
  background-color: rgb(196, 11, 11);
  background: linear-gradient(
    114deg,
    rgba(196, 11, 11, 1) 80%,
    rgba(227, 11, 11, 1) 80%,
    rgba(196, 11, 11, 1) 80%,
    rgba(227, 11, 11, 1) 80%
  );

  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s ease-in;
}

.btn:hover {
  background-color: rgb(227, 11, 11);
  background: linear-gradient(
    114deg,
    rgba(227, 11, 11) 80%,
    rgba(196, 11, 11) 80%,
    rgba(227, 11, 11) 80%,
    rgba(196, 11, 11) 80%
  );
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  background-image: url(../img/icons/arrow_forward.svg);
  background-repeat: no-repeat;
  background-size: contain;
  right: 11px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.title {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4b4b4b;
  padding-left: 32px;
  margin-bottom: 33px;
}

.title::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.desc {
  max-width: 583px;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133c;
  margin-bottom: 36px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  margin-bottom: 54px;
}

.second-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #02133c;
  margin-bottom: 20px;
}

/* ========================================================= HEADER STYLES ========================================================= */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding-top: 26px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__item + .info__item {
  margin-left: 30px;
}

.info__text {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #ffffff;
  padding-left: 37px;
}

.info__text::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/time.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
}

.info--phone::before {
  background-image: url(../img/icons/phone.svg);
}

.header-top__btn {
  margin-left: 32px;
}

.header-bottom {
  display: flex;
  background-color: #fff;
  padding: 18px 44px 18px 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
}

.header-bottom__menu {
  display: flex;
}

.header-bottom__list:not(:last-child) {
  margin-right: 37px;
}

.header-bottom__list:first-child,
.header-bottom__list:nth-child(5) {
  position: relative;
  padding-right: 16px;
}

.header-bottom__list:first-child::before,
.header-bottom__list:nth-child(5)::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 5px;
  background-image: url(../img/icons/more.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.header-bottom__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #02133c;
  transition: 0.2s ease-in;
}

.header-bottom__link:hover {
  color: #c40b0b;
}

.header-bottom__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  display: block;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 17.5px;
  height: 17.5px;
  border: none;
}

.header-bottom__search {
  margin-right: 25px;
}

.header-bottom__cart {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
}

.header-bottom__cart::before {
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 4px;

  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  color: #fff;
  width: 16px;
  height: 16px;
  background-color: #c40b0b;
  border-radius: 100%;
  right: -5px;
  top: -8px;
}

/* ========================================================= SECTION PROMO ========================================================= */

.promo {
  background-image: url(../img/bg/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 280px 0 312px 0;
}

.promo__title {
  max-width: 583px;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 48px;
}

/* ========================================================= SECTION WHOWEARE ======================================================= */

.whoweare {
  position: relative;
  left: 0;
  right: 0;
  top: 75%;
  margin: auto;
  margin-top: -80px;
  max-width: 1000px;
  max-height: 700px;
  padding: 100px 87px;
  background-color: #fff;
}

.whoweare::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/bg-gears.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 642px;
  height: 450px;
  right: 0;
  top: 0;
  opacity: 0.5;
}

.whoweare__img {
  display: block;
  max-width: 100%;
}

/* ========================================================= SECTION PROMISE ======================================================== */

.promise {
  padding-top: 230px;
}

.promise-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 68px;
}

.promise-box__item {
  position: relative;
  padding-left: 85px;
  margin-right: 20px;
}

.promise-box__item:last-child {
  margin-right: 0;
}

.promise-box__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 63px;
  height: 63px;
  background-image: url(../img/icons/quality.svg);
  left: 0;
  top: 0;
}

.item--serivices::before {
  background-image: url(../img/icons/car-services.svg);
}

.item--team::before {
  background-image: url(../img/icons/car-team.svg);
}

.promise__text {
  max-width: 235px;
  margin-bottom: 0;
}

.promise-video {
  position: relative;
  margin-top: 120px;
}

.promise-video::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.promise-video__img {
  display: block;
  width: 100%;
  height: 100%;
}

.promise-video-wrap {
  position: absolute;
  right: 210px;
  top: 112px;
}

.promise-video__title {
  max-width: 411px;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.play-icon {
  font-size: 0;
  display: block;
  background-image: url(../img/icons/play.svg);
  width: 140px;
  height: 140px;
  opacity: 1;
  transition: 0.3s ease-in;
}

.play-icon:hover {
  opacity: 0.7;
}

/* ========================================================= SECTION SERVICES ======================================================= */

.section-services {
  position: relative;
  padding: 110px 0 122px 0;
  z-index: 1;
}

.section-services::before,
.section-services::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/bg-gears-services.png);
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  z-index: -1;
}

.section-services::after {
  background-image: url(../img/bg/bg-gears-services.png);
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.section-services__desc {
  margin-bottom: 78px;
}

.grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 66px;
}

.grid__item {
  padding: 50px 44px;
  background-color: #fff;
  text-align: center;
  transition: 0.2s ease-in;
}

.grid__item:hover {
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
}

.grid__icon {
  margin-bottom: 33px;
}

.grid__text {
  margin-bottom: 0;
}

.section-services__btn {
  margin: 0 auto;
  padding: 12px 50px 12px 20px;
  background: linear-gradient(
    114deg,
    rgba(196, 11, 11, 1) 73%,
    rgba(227, 11, 11, 1) 70%,
    rgba(196, 11, 11, 1) 70%,
    rgba(227, 11, 11, 1) 70%
  );
}

.section-services__btn:hover {
  background: linear-gradient(
    114deg,
    rgba(227, 11, 11) 73%,
    rgba(196, 11, 11) 70%,
    rgba(227, 11, 11) 70%,
    rgba(196, 11, 11) 70%
  );
}

/* ========================================================= SECTION FORM =========================================================== */

.form {
  position: relative;
  padding: 130px 0 210px 0;
  background-color: #02133c;
  z-index: 1;
}

.form::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/bg-gears-services.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
  width: 642px;
  height: 450px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.form:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/bg-gears.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 642px;
  height: 450px;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}

.form-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  max-width: 585px;
  padding: 76px 46px;
  background-color: #fff;
}

.form__desc {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.input-wrap {
  width: 50%;
  padding: 11px;
}

.input {
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #959595;
  background-color: #f5f5f5;
  border: none;
}

.textarea-wrap {
  width: 100%;
  height: 180px;
  padding: 11px;
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 17px 40px 17px 23px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #959595;
  background-color: #f5f5f5;
  border: none;
  resize: none;
}

.form__btn {
  margin-top: 30px;
  margin-left: auto;
  padding: 12px 50px 12px 20px;
}

.form-count {
  max-width: 324px;
  padding-left: 15px;
  color: #fff;
  font-weight: 900;
  text-align: center;
}

.form-count__title {
  font-size: 30px;
  line-height: 36px;
}

.number-wrap {
  display: inline-block;
  margin: 50px 0;
}

.number__fake {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.number__real {
  font-weight: 900;
  font-size: 96px;
  line-height: 56px;
  text-align: center;
  color: #c40b0b;
}

.form-count__text {
  font-size: 19px;
  line-height: 26px;
}

/* ========================================================= SECTION GALLERY ========================================================= */

.gallery {
  position: relative;
  left: 0;
  right: 0;
  top: 75%;
  margin: auto;
  margin-top: -80px;
  max-width: 1000px;
  max-height: 700px;
  padding: 100px 87px;
  margin-bottom: 120px;
  background-color: #fff;
  z-index: 1;
}

.gallery::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/bg-gears-services.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
  width: 642px;
  height: 450px;
  left: -200px;
  bottom: -200px;
  z-index: -1;
}

.gallery-img-wrap {
  position: relative;
  width: 856px;
  height: 480px;
  overflow: hidden;
  z-index: 1;
}

/* .live::before {
  content: "live";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 42px;
  top: 33px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  width: 50px;
  height: 30px;
  color: #fff;
  background-color: #21c613;
  z-index: 2;
} */

.gallery__img {
  display: block;
  max-width: 100%;
}

.tabs-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.tabs-list__item {
  width: 100%;
}

.tabs-list__link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #02133c;
  transition: 0.2s ease-in;
  text-align: center;

  padding-bottom: 18px;
  border-bottom: 1px solid #d5d5d5;
  transition: 0.2s ease-in;
}

.tabs-list__link:hover {
  font-weight: 500;
  color: #c40b0b;
  border-bottom: 4px solid #c40b0b;
}

.tabs-link--active {
  font-weight: 500;
  color: #c40b0b;
  border-bottom: 4px solid #c40b0b;
}

.stream {
  position: relative;
}

.stream::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #21c613;
  right: 25px;
  top: 0;
}

/* ========================================================= SECTION CUSTOMERS ======================================================= */

.customers {
  padding-top: 110px;
  padding-bottom: 210px;
}

.customers-box {
  display: flex;
  justify-content: space-between;
}

.customers-box__item {
  flex-basis: 32.4%;
}

.customers__desc {
}

.customers-card {
  flex-basis: 32.4%;
  background-color: #fff;
  padding: 40px;
}

.customers-card__text {
  margin-bottom: 30px;
}

.customers-card__title {
  margin-bottom: 0;
}

.card-avatar {
  display: flex;
  align-items: center;
}

.card-avatar__wrap {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 17px;
}

.card-avatar__wrap::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/avatar-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.man-avatar::before {
  background-image: url(../img/avatar-1.jpg);
  background-position: center;
}

/* .card__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

/* ========================================================= SECTION IMPACT ========================================================== */
.impact {
  position: relative;
  padding-top: 110px;
  background-color: #02133c;
  z-index: 1;
}

.impact::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/bg/impact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  top: 0;
  left: 0;
}

.impact-top {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.impact__title {
  color: #ffff;
}

.impact__desc {
  color: #fff;
  max-width: 411px;
  margin-bottom: 80px;
}

.impact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 135px;
}

.impact-box__item {
  flex-basis: 23%;
  position: relative;
  padding-left: 82px;
}

.impact-box__item::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 76px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.item-oil::before {
  background-image: url(../img/icons/car_oil.svg);
}

.item-transmisson::before {
  background-image: url(../img/icons/car_transmission.svg);
}

.item-aligments::before {
  background-image: url(../img/icons/car_alignment.svg);
}

.item-engines::before {
  background-image: url(../img/icons/car_engine.svg);
}

.impact-box__number {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #c40b0b;
}

.impact-box__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #f5f5f5;
}

.impact-img-wrap {
  position: absolute;
  width: 498px;
  height: 315px;
  right: 0;
  top: -198px;
  z-index: -1;
}

.impact__img {
  display: block;
  max-width: 100%;
}

/* Почему-то не работал position-absolute, спросить совета */
.impact-cta {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 46px 76px 48px 70px;
  left: 0;
  bottom: -77px;
}

.impact-cta__desc {
  margin-bottom: 0;
  max-width: 562px;
  font-size: 24px;
  line-height: 30px;
}

.impact-cta__btn {
  padding: 14px 50px 14px 20px;
}

/* ========================================================= FOOTER STYLES =========================================================== */

.footer {
  padding-top: 160px;
  padding-bottom: 100px;
}
